<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h1>Make a New Post</h1>
        <form action="/images" method="POST">
            User Name: <input type="text" name="name" /><br/>
            Photo: <input type="text" name="photo" /><br/>
            Caption: <input type="textarea" name="caption" /><br/>
            <input type="submit" name="" value="Add my Post"/>
        </form>
  </body>
</html>
