<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
</head>
<body>
  <h1>Post Show Page</h1>
    <ul>
      <li>
          Name: <%= car.name; %> 
      </li>
      <li>
          Photo: <%= car.photo %> 
      </li>
      <li>
          Caption: <%= car.caption%>
      </li>
  </ul>
  <a href="/images/<%=image._id%>/edit">Edit this post</a>
</body>
</html>


