<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="/styles/style.css">

</head>
<body>
  <h1>Phantogram Home Page</h1>
    <ul>
      <li>
          <a href="/users/">See All users</a>
      </li>
      <li>
          <a href="/images/">See the feed</a>
      </li>
  </ul>
  <ul>
  </ul>
</body>
</html>